
-var company_name = "So Cal Property Services"
-var company_descriptor = "Property Preservation - Initial Secures"

-var email = "socalpropertyservices@outlook.com"
-var phone1 = "7143647131"
-var phone2 = "8052178644"

-var links = [{label: "Home", href: "/", cls: "selected"}, {label: "About Us", href: "/#about"}, {label: "Services", href: "/#services"}, {label: "Contact", href: "/#contact"}]

-var navClass = "navLinks center"
-var footerClass = "footerLinks"


mixin phone_number(number)
  span.area_code #{"(" + number.substr(0,3) + ") "}
  span.number #{number.substr(3,3) + "-" + number.substr(6,4)}

mixin link(item)
  - var c = (item.cls) ? item.cls : " "
  a(href="#{item.href}", class="#{c}") #{item.label}

mixin nav(items, cls)
  nav.full_w
    ul.center
      - each item in items
        li.navItem
          mixin link(item)

mixin design
  .design
    .design-name
      span Design by 
      span.designer Erica von Buelow
    .design-contact
      span contact at 
      a(href="mailto:evonbuelow@gmail.com") evonbuelow@gmail.com
