include _settings

#background
#container
  header
    h1 #{company_name}
    h2 #{company_descriptor}
  
  mixin nav(links, navClass)
  
  #content
    #about.page #{about}
    .services.page #{services}
    .contact.page
      h3 Contact us:
      .email
        .label Email:
        a.primary_email(href="#{email}") #{email}
      .phone_1
        .label Phone:
        mixin phone_number(phone1)
        mixin phone_number(phone2)

  footer
    ul
      li #{company_name}
      - each item in links
        li
          mixin link(item)
    mixin design